@import url(../css/null.css);
body {
  width: 100%;
  font-size: 14px;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: rgb(129, 11, 129);
}
.header__container {
  max-width: 90%;
  margin: 150px 0px 0px 0px;
}
.header__title {
  line-height: 50px;
  color: white;
  margin: 0px 0px 10px 0px;
}
.header__title::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(19, 18, 18, 0.2);
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -25px;
}
.header__text {
  color: white;
}

.text {
  text-align: center;
}

/*___________________________SERVICES____________________*/
.services {
  background-color: aqua;
  height: 500px;
  color: aliceblue;
  padding: 70px 0px;
}

.services__title {
  color: white;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 15px 0px;
}
.services__title::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(19, 18, 18, 0.2);
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
}

.services__text {
  font-size: 14px;
  color: aliceblue;
  width: 500px;
  margin: 0 auto;
}

.services__row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.services__block {
  padding: 0px 35px;
}

.services__img {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.services__cardtitle {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.services__cardtext {
  text-align: center;
  width: 150px;
  margin-top: 40px;
}

/*___________________________TEAM_________________________*/
.team {
  height: 600px;
  background-color: rgb(210, 217, 223);
}
.team__container {
  padding-top: 90px;
}
.team__title {
  line-height: 50px;
  margin: 0px 0px 15px 0px;
}
.team__title::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(19, 18, 18, 0.2);
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
}
.team__blocktitle {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.team__text {
  text-align: center;
  margin: 0px 0px 25px 0px;
}
.team__block {
  display: flex;
  justify-content: center;
  padding: 0px 100px;
  text-align: center;
}
.team__rowflex {
  max-width: 200px;
  margin: 0 auto;
}
.team__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(84, 85, 87);
  margin-bottom: 30px;
}

.mstk {
  text-align: center;
  width: 150px;
  margin: 0 auto;
}

.link {
  text-transform: lowercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
}

/*____________________________________SKILLS___________________________________*/
.skills {
  height: 500px;
  background-color: aliceblue;
}
.skills__container {
  padding-top: 80px;
}
.skills__title {
  line-height: 50px;
}
.skills__title::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(19, 18, 18, 0.2);
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -30px;
}
.skills__text {
  margin: 15px 0px 30px 0px;
}