@import url(../css/null.css);
body{
	width: 100%;
	font-size: 14px;
}
.title{
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;	
	position: relative;

}
.header {
	display: flex;
	justify-content: center;
	height: 400px;
	background-color: rgb(129, 11, 129);

	&__container {
		max-width: 90%;
		margin: 150px 0px 0px 0px;
		
		
	}

	&__title {
		line-height: 50px;
		color: white;
		margin: 0px 0px 10px 0px;
	&::after{
		content: "";
		width: 50px;
		height: 1px;
		background-color: rgba(19, 18, 18, 0.2);
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -25px;
	}
	}

	&__text {
		color: white;
		
		
			
	}
}

.text {
	text-align: center;
}

.main {
}
/*___________________________SERVICES____________________*/
.services {
	
	background-color: aqua;
	height: 500px;
	color: aliceblue;
	padding: 70px 0px;
}
.services__presentation {
	
	
}
.services__title {
	color: white;
		font-size: 36px;		
		line-height: 50px;
		margin: 0px 0px 15px 0px;
	&::after{
		content: "";
		width: 50px;
		height: 1px;
		background-color: rgba(19, 18, 18, 0.2);
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -30px;
		
	}
}
.services__text {
	font-size: 14px;
	color: aliceblue;
	width: 500px;
	margin: 0 auto;
	
}
.text {
}
.services__row {
	display: flex;
		justify-content: center;
		text-align: center;
		
	
}
.flex {
}
.services__block {
	padding: 0px 35px;
}
.services__img {
	width: 80px;
	height: 80px;
	margin-bottom: 30px;
	margin-top: 30px;
	
	
}
.services__cardtitle {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.services__cardtext {
	text-align: center;
	width: 150px;
	margin-top: 40px;
}
img{
	
}
/*___________________________TEAM_________________________*/
.team {
	height: 600px;
	background-color: rgb(210, 217, 223);
&__container{
	padding-top: 90px;
}
	&__title {
			line-height: 50px;
			margin:0px 0px 15px 0px;
			&::after{
			content: "";
			width: 50px;
			height: 1px;
			background-color: rgba(19, 18, 18, 0.2);
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -30px;
			
			
		}
	}
	&__blocktitle{
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 5px;
		
	
	}

	&__text {
		
		text-align: center;
		margin:0px 0px 25px 0px;
		
	}

	&__block {
		display: flex;
		justify-content: center;
		padding: 0px 100px;
		text-align: center;
		
	}

	&__rowflex {
		max-width: 200px;
		margin: 0 auto;
		
	}

	&__presentation {
		
		
	}

	&__img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		
		background-color: rgb(84, 85, 87);
		margin-bottom: 30px;
		
	}
}

.mstk{
	text-align: center;
	width: 150px;
	margin:0 auto;
	

	;
	
	
}
.link{
	text-transform: lowercase;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 30px;
	
}


/*____________________________________SKILLS___________________________________*/
.skills {
	width: 100%;
	height: 500px;
	&__container {
		padding-top: 30px;
	}
	&__title{
		line-height: 50px;
		margin-bottom: 30px;
		&::after{
			content: "";
			width: 50px;
			height: 1px;
			background-color: rgba(19, 18, 18, 0.2);
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -30px;
			
			
		}

	}
	&__text{
		margin-bottom: 50px;

	}

	&__row {
		
	
	
	}

	&__presentation {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		
		
	
		
	}
	&__card{
		
		
	}
&__subtitle{
	width: 200px;
	margin: 0 auto ;
	padding-right: 60px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 30px;
	
}
	&__percent {
		
		text-align: center;
		border: 1px solid black;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 0 30px 0;
	}
}

/*________________________________progressbar________________________*/
.container{
	text-align: center;
width: 150px;
}
.ui-widgets {
	display: inline-block;
	width: 10rem;
	height: 10rem;
	border-radius: 9rem;
	margin:1.5rem;
	border: 1.2rem solid palegreen;
	box-shadow: inset 0 0 7px grey;
	border-left-color: palegreen;
	border-top-color:chartreuse ;
	border-right-color: darkgreen;
	border-bottom-color: white ;
	box-sizing: border-box;
}

.ui-widgets:nth-child(2) {
	border-top-color:chartreuse ;
	border-right-color: white;
	border-left-color: palegreen;
	border-bottom-color: white;
}

.ui-widgets .ui-values {
	text-align: center;

	font-weight: 700;
	font-size: 2.0rem;
}

.ui-widgets .ui-labels {
	
	text-shadow: 0 0 4px grey;
	color:black;
	
	width: 100%;
	font-size: 16px;
}

.portfolio {
	height: 900px;
	background-color: rgba(255, 116, 174, 0.719);

	&__title {
		line-height: 50px;
		padding-top: 30px;
		&::after{
			content: "";
			width: 50px;
			height: 1px;
			background-color: rgba(19, 18, 18, 0.2);
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -30px;
		
			
			
		}
	}

	&__text {
		padding-top: 20px;
		width: 500px;
		text-align: center;
		margin: 0 auto;
		line-height: 15px;
	}

	&__buttons-row {
		display: flex;
		justify-content:center;
		align-items: center;
		
	}

	&__container {
		margin-top: 30px;
		
	}

	&__button {
		text-align: center;
		height: 40px;
		width: 80px;
		background-color: rgba(247, 78, 148, 0.719);
		margin-left: 15px;
	}
	&__button:hover{
		background-color: aliceblue;
	}
}

.button_text{
	font-size: 17px;
	display: inline-block;
	text-decoration: none;
	color: black;
	margin-top: 13px
	
}

.portfolio-img{
	
	width: 250px;
	height: 220px;
}
.portfolio_text{
	text-transform: uppercase;
	max-width: 200px;
	text-align: center;
	margin-left: 30px;
	text-shadow: 1px 0px ; 
	
	
}
.portfolio__items{
	padding-top: 30px;
width: 300px;
}
.portfolio__laptops{
	padding-left: 80px;
	margin: 0 auto;
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.subbutton{
	box-shadow: 1px 1px ;
	text-align: center;
	display: inline-block;
	border-radius: 3px;
	width: 220px;
	height: 40px;
	background-color: rgb(13, 175, 204);
	margin: 50px 0 0 575px;
}
.subbutton:active{
	box-shadow: 0px 0px;
}
.btn-text{
	font-size: 18px;
	color: aliceblue;
	display: inline-block;
	margin-top: 10px;
}
/*__________________________________________ABOUT US______________________________*/

.about {
	display: flex;
	justify-content: center;
	height: 600px;
	background-color: rgba(16, 241, 174, 0.692);
	color: rgb(255, 255, 255);

	&__wrapper {
		padding-top: 50px;
		width: 100%;
	}

	&__title {
		line-height: 50px;
		&::after{
			content: "";
			width: 50px;
			height: 1px;
			background-color: rgba(19, 18, 18, 0.2);
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -25px;
		
			
			
		}
	}

	&__text {
		margin-top: 20px;
		text-align: center;
	}
}

.container {
	padding-top: 30px;
	
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
.presentation {
display: flex;
justify-content: space-between;
flex-direction: column;
	&__card {
		width: 350px;
		padding: 30px 0px; 
		background-image: url("/img/about/yellow-circle-icon-hi.png");
		background-position: 0 30px;
background-repeat: no-repeat;
background-size: 50px 50px;
	

	}


	&__card-text{
		text-align: center;
		width: 250px;
		margin-left: 70px;

	}

	&__subtitle {
		margin:15px 0 0 0 ;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		margin: 0 0 0 40px;
	}

	&__subtext {
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 0 40px;
	}
	}
	.footer{
		background-color: rgba(79, 8, 172, 0.781);
		color: white;
		height: 900px;
		display: flex;
		justify-content: center;
	}
.footer__container{
	padding-top: 70px;
}
.name{
	color: aliceblue;
	font-size: 20px;
	width: 300.2px;
	height: 35px;
	background-color:rgba(79, 8, 172, 0.781); 
	margin-left: 20px;
}
.footer__title{
	line-height: 50px;
	margin: 0 0 30px 0;
	&::after{
		content: "";
		width: 50px;
		height: 1px;
		background-color: rgba(19, 18, 18, 0.2);
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -25px;
	
		
		
	}
}
.footer__text{
	text-align: center;
	margin: 0 0 50px 0;
}

textarea{
	resize: none;
	color: aliceblue;
	font-size: 20px;
	
	background-color: rgba(79, 8, 172, 0.781); 
}
.textarea{
	margin: 20px 0 0 20px;
}
.submit{
	margin-left: 29%;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: inset 1px 1px 5px;
	text-shadow: 1px;
	color: white;
	letter-spacing: 6px;
	background-color: rgba(79, 8, 172, 0.781); 
	width: 300px;
	height: 50px;
}
.submit:active{
	box-shadow: 0px 0px;
}